ion-icon {
  font-size: 200%;
  font-weight: bold;
  margin-left: 10px;
}
.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.questImage{
  display:block;
  max-width: 100%;
  width:16vw;
  height: 10vh;
}